@import "hover-min.css";
.verde{border-top:solid 2px #00a5a1}
.azul{border-top:solid 2px #0b4c7e}
.naranjo{border-top:solid 2px #f77623}
.amarillo{border-top:solid 2px #f4c458}
.bordes{border-left:solid 1px #ccc}
body{font-family:'News Cycle',sans-serif;color:#666;}
body nav{height:129px;}
body nav .logo{float:left;padding-left:4em;padding-top:2em;}
body nav .logo img{height:83px}
body nav ul{margin-top:2em;padding-right:3em;overflow:hidden;}
body nav ul li{margin:1em 0 0 0;float:right;list-style:none;padding:0 1em;border-right:solid 1px #ccc;}
body nav ul li p{margin:0;padding:.6em .5em .7em .5em;font-size:1.6em;text-decoration:none;display:block;cursor:pointer;-webkit-transition:.7s ease;-moz-transition:.7s ease;-o-transition:.7s ease;transition:.7s ease;}
body nav ul li p:hover{color:#00a5a1;border-bottom:solid 2px #00a5a1}
body section{background:#fff;}
body section .row{margin-top:4em;background:#fff;}
body section .row .imagen{height:322px;overflow:hidden;}
body section .row .imagen img{width:96%}
body section .row .textos .avanzit p{font-size:21px;padding:0 1.5em}
body section .row .textos .titulo p{font-size:3.1em;text-align:center;margin:0 0 .7em 0}
body .iconos{background:#fff;}
body .iconos .menu{padding:0;margin:6em 0 0 2em;}
body .iconos .menu li{list-style:none;margin:0 2.8em 7em 0;float:left;padding:2.5em 3em 0 0;width:17em;}
body .iconos .menu li i{color:#333;font-size:57px;padding:0 1.5em .5em 1.5em}
body .iconos .menu li a{color:#666;font-size:24px;padding:0 3.2em;text-decoration:none;display:inline-block;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:-webkit-transform;transition-property:transform;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);}
body .iconos .menu li a:hover{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
body .contacto{padding:1.8em;border-top:solid 1px #ccc;overflow:hidden;}
body .contacto .d{float:left;}
body .contacto .d p{font-size:22px;color:#666}
body .contacto .english{float:right;}
body .contacto .english i{color:#666;margin-right:.5em;font-size:18px}
body .contacto .english a{color:#333;text-decoration:none;font-size:20px;}
body .contacto .english a:hover{color:#00a5a1}
